<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>UPEN</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
		 
        <link rel="stylesheet" href="<?php echo baseURL?>/css/bootstrap.min.css">
        <link rel="stylesheet" href="<?php echo baseURL?>/css/hero-slider.css">
		
        <!--link rel="stylesheet" href="<?php// echo baseURL?>/css/templatemo-main.css?r=12"-->
		<link rel="stylesheet" type="text/css" href="<?php echo baseURL?>/css/templatemo-main.css?=' . filemtime('<?php echo baseURL?>/css/templatemo-main.css')" />

        <link rel="stylesheet" href="<?php echo baseURL?>/css/owl-carousel.css">
        <link rel="stylesheet" href="<?php echo baseURL?>/css/fontAwesome.css">
		
        <!--link rel="stylesheet" href="<?php echo baseURL?>/css/dcodes.css?r=1"-->
		<link rel="stylesheet" type="text/css" href="<?php echo baseURL?>/css/dcodes.css?=' . filemtime('<?php echo baseURL?>/css/dcodes.css')" />
		
		<!-- Fonts -->
		<link rel="stylesheet" type="text/css" href="font/dosis-regular/font.css">
		<link rel="stylesheet" type="text/css" href="font/dosis-bold/font.css">

		
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
		
        <script src="<?php echo baseURL?>/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
		<style>
		html {
			scroll-behavior: smooth;
		}
		
		.navbar {
			transition: all 0.4s;
		}

		.navbar .nav-link {
			color: #fff;
			letter-spacing:0.2em;
		}

		.navbar .nav-link:hover,
		.navbar .nav-link:focus {
			<!-- color: #58D3F7; -->
			color: #e4a115;
			
			/* shadowDarkBlue */
			text-shadow: 1px 0px 1px rgba(11,76,95,1), 
				-1px 0px 1px rgba(11,76,95,1), 
				0px 1px 1px rgba(11,76,95,1), 
				0px -1px 1px rgba(11,76,95,1);
			
			text-decoration: none;
		}

		.navbar .navbar-brand {
			color: #fff;
		}


		/* Change navbar styling on scroll */
		.navbar.active {
			<!-- color: #58D3F7; -->
			color: #e4a115;
			
			background: rgba(255, 255, 255, 0.9);
			box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
		}

		.navbar.active .nav-link {
			/*color: #58D3F7; */
			color: #e4a115; 
			
			/* shadowDarkBlue */
			text-shadow: 1px 0px 1px rgba(11,76,95,1), 
				-1px 0px 1px rgba(11,76,95,1), 
				0px 1px 1px rgba(11,76,95,1), 
				0px -1px 1px rgba(11,76,95,1);
			
		}

		.navbar.active .nav-link:hover,
		.navbar.active .nav-link:focus {
			color: #A9E2F3;
			text-decoration: none;
		}

		.navbar.active .navbar-brand {
			color: #555;
		}


		/* Change navbar styling on small viewports */
		@media (max-width: 991.98px) {
			.navbar {
				background: rgba(255, 255, 255, 0.9);
			}

			.navbar .navbar-brand, .navbar .nav-link {
				color: #555;
			}
		}
		</style>
    </head>
<!--
Vanilla Template
https://templatemo.com/tm-526-vanilla
-->
<body>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
  
  <!--header class="header"-->
    <nav class="navbar navbar-expand-lg fixed-top py-3">
        <div class="container">
			<a href="#" class="navbar-brand text-uppercase font-weight-bold dcodes-font">
				<img style="width:10%" src="<?php echo baseURL?>/img/perumahan/jata_negara.png" alt="">&nbsp
				<img style="width:5%" src="<?php echo baseURL?>/img/perumahan/logoN9.png" alt="">
			</a>
            <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>
            
            <div id="navbarSupportedContent" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="#home" class="nav-link text-uppercase font-weight-bold"><i class="fas fa-home"></i><span class="sr-only">(current)</span></a></li>
                    <li class="nav-item"><a href="#services" class="nav-link text-uppercase font-weight-bold">|&nbsp;Permohonan</a></li>
                    <li class="nav-item"><a href="#portfolio" class="nav-link text-uppercase font-weight-bold">|&nbsp;Rekabentuk</a></li>
                    <li class="nav-item"><a href="#contact-us" class="nav-link text-uppercase font-weight-bold">|&nbsp;Hubungi&nbsp;Kami</a></li>
                    <li class="nav-item"><a href="/login" class="nav-link text-uppercase font-weight-bold"><i class="fas fa-sign-in-alt"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
  <!--/header-->

    <div class="parallax-content baner-content" id="home">
        <div class="container" >
            <!--div class="service-item" style="background-color:rgba(0, 0, 0, 0.5); margin-bottom: 30px; padding: 25px 30px;">
                <h1>DCS</h1>
                <span><em >Dynamic Code</em> Solutions</span>
                <div class="primary-button">
                    <a href="#services">See About Us</a>
                </div>
            </div-->
			
			<br/><br/><br/><br/>
			<div class="dcs-topDiv" >
				<strong><span class="dcs-letterSpacing dcs-shadowBlackTimes dcs-title" style="color: white; 
    font-size: 35pt; FONT-WEIGHT: 800;">SISTEM PERUMAHAN <br>NEGERI SEMBILAN</span></strong>
			</div>  
        </div>
    </div>


    <div class="service-content" id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="left-text">
					 <div class="dcs-shadowBlack">
                        <h4>JCODERS SDN BHD</h4>
						
                        <div class="line-dec"></div>
                        <p style="text-align:justify;">We develop applications dynamically using various types of APIs and programming languages depending on customer's needs.</p>
                        <ul>
                            <li>&bull;  System & Application Developer (Web, desktop)</li>
                            <li>&bull;  Map Application Specialist</li>
                            <li>&bull;  Consultation & Training</li>
                            <li>&bull;  Hardware & Software Supply</li>
                        </ul>
                        <div class="primary-button">
                            <a href="#portfolio">See Our awesome Partners</a>
                        </div>
					 </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="service-item">
                                <h4>System Development</h4>
                                <div class="line-dec"></div>
                                <p style="text-align:justify;">When it comes to system, it includes application, database, flows, SOP, etc. 
								We provide services from the early stage of development up until maintaining it.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="service-item">
                                <h4>Map Application Specialist</h4>
                                <div class="line-dec"></div>
                                <p style="text-align:justify;">Experienced in developing various types of map applications including web based, desktop and mobile application. 
								We use map engines including ArcGIS products, GeoServer, MapGuide and Google.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="service-item">
                                <h4>Consultation &amp; Training</h4>
                                <div class="line-dec"></div>
                                <p style="text-align:justify;">We also provide trainings for ArcGIS API for JavaScript, consultation regarding your GIS data, application and system.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="service-item">
                                <h4>Hardware & Software Supply</h4>
                                <div class="line-dec"></div>
                                <p style="text-align:justify;">We also supply hardware and software such as computers, laptops, network devices, software like Adobe, Microsoft etc.</p>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>

    
    <div class="parallax-content projects-content" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="owl-testimonials" class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="testimonials-item">
                                <a href="<?php echo baseURL?>/img/map2u.png" data-lightbox="image-1"><img src="<?php echo baseURL?>/img/map2u.png" alt=""></a>
                                <div class="text-content">
                                    <label class="dcs-font1">Map2u Sdn Bhd</label>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <a href="<?php echo baseURL?>/img/blackcube.png" data-lightbox="image-1"><img src="<?php echo baseURL?>/img/blackcube.png" alt=""></a>
                                <div class="text-content">
                                    <label class="dcs-font1">Blackcube Solution Sdn Bhd</label>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <a href="<?php echo baseURL?>/img/sa.png" data-lightbox="image-1"><img src="<?php echo baseURL?>/img/sa.png" alt=""></a>
                                <div class="text-content">
                                    <label class="dcs-font1">Strategic Alliance Sdn Bhd</label>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <a href="<?php echo baseURL?>/img/compute.png" data-lightbox="image-1"><img src="<?php echo baseURL?>/img/compute.png" alt=""></a>
                                <div class="text-content">
                                    <label class="dcs-font1">Compute IT Sdn Bhd</label>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <a href="<?php echo baseURL?>/img/irtechnic.png" data-lightbox="image-1"><img src="<?php echo baseURL?>/img/irtechnic.png" alt=""></a>
                                <div class="text-content">
                                    <label class="dcs-font1">IR Technic</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="parallax-content contact-content" id="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="contact-form">
                        <div class="row">
								<div class="col-md-12 left-text">
									<h4>Hubungi Kami</h4>
									<div class="line-dec"></div>
								</div>
								
								<div class="col-md-12">
									<i class="fas fa-map-marker-alt dcs-blue"></i>
								</div>
								<div class="col-md-12">
								  <fieldset>
									<p class="contact"> PEJABAT SETIAUSAHA KERAJAAN NEGERI SEMBILAN <br/> TINGKAT 5, BLOK A, WISMA NEGERI, <br/> JALAN DATO' ABDUL MALEK, <br/>70503 SEREMBAN, NEGERI SEMBILAN,  <br/>MALAYSIA</p>
									<br/>
								  </fieldset>
								</div>

								<div class="col-md-12">
									<i class="fas fa-phone dcs-blue"></i>
								</div>
								<div class="col-md-12">
									<p class="contact">606-765 9900</p>
								</div>
								
								<div class="col-md-12">
									<i class="fas fa-fax dcs-blue"></i>
								</div>
								<div class="col-md-12">
									<p class="contact">606-761 7386</p>
								</div>
								
								<div class="col-md-12">
									<i class="fas fa-envelope dcs-blue"></i>
								</div>
								<div class="col-md-12">
									<p class="contact">korporatsukns[at]ns.gov.my</p>
								</div>
								
								<br><br>
								 <div class="col-md-12">
								  <fieldset>
									<p class="contact dcs-blue" style="font-weight:600; text-align:justify;">
									Sila hubungi kami untuk sebarang pertanyaan. Anda boleh menghubungi kami melalui telefon, e-mel atau melawat pejabat kami.</p>
								  </fieldset>
								</div>
                        </div>
                    </div>
                </div>
				
                <div class="col-md-8" >
					
                    <div class="map left-text">
						<h4>Peta Lokasi</h4>
						<div class="line-dec"></div>
						
						<!-- How to change your own map point
							   1. Go to Google Maps
							   2. Click on your location point
							   3. Click "Share" and choose "Embed map" tab
							   4. Copy only URL and paste it within the src="" field below
						-->
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3985.3040782693665!2d101.93986631457511!3d2.725802898014232!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cddd84e940e80d%3A0xb9aa427d3683f89e!2sNegeri%20Sembilan%20State%20Secretary%E2%80%99s%20Office!5e0!3m2!1sen!2smy!4v1662018526917!5m2!1sen!2smy" width="100%" height="390" frameborder="0" style="border:0" loading="lazy" allowfullscreen></iframe>
						
					</div>
                </div>
            </div>
        </div>
    </div>
	</div><!--end content wrapper-->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="primary-button">
                        <a href="#home">Kembali</a>
                    </div>
                    
                    <p> &copy; 2021 All Right Reserved -
            
            		<a rel="nofollow noopener" href="https://jcoders.com.my"><em>JCODERS SDN BHD</em></a></p>
                </div>
            </div>
        </div>
    </footer>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="<?php echo baseURL?>/js/vendor/bootstrap.min.js"></script>
    <script src="<?php echo baseURL?>/js/plugins.js"></script>
    <script src="<?php echo baseURL?>/js/main.js"></script>
    <script>
        function openCity(cityName) {
            var i;
            var x = document.getElementsByClassName("city");
            for (i = 0; i < x.length; i++) {
               x[i].style.display = "none";  
            }
            document.getElementById(cityName).style.display = "block";  
        }
    </script>

    <script>
        /*$(document).ready(function(){
          // Add smooth scrolling to all links
          $(".fixed-side-navbar a, .primary-button a").on('click', function(event) {

            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {
              // Prevent default anchor click behavior
              event.preventDefault();

              // Store hash
              var hash = this.hash;

              // Using jQuery's animate() method to add smooth page scroll
              // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
              $('html, body').animate({
                scrollTop: $(hash).offset().top
              }, 800, function(){
           
                // Add hash (#) to URL when done scrolling (default click behavior)
                window.location.hash = hash;
              });
            } // End if
          });
        }); */
		
		$(function () {
			$(window).on('scroll', function () {
				if ( $(window).scrollTop() > 10 ) {
					$('.navbar').addClass('active');
				} else {
					$('.navbar').removeClass('active');
				}
			});
		});
    </script>

</body>
</html>